# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"

config FEEDER_FULL_SENSOR_THREAD_PRIORITY
	int "Feeder full sensor ADC measurement thread priority."
	default -1

config FEEDER_FULL_SENSOR_THRESHOLD_MV
    int "Threshold ADC mV reading which will trigger a transition in state of the feeder full sensor."
    default 1000

