/ {
	lvgl_encoder {
		compatible = "zephyr,lvgl-encoder-input";
		rotation-input-code = <INPUT_REL_Y>;
		button-input-code = <INPUT_KEY_0>;
	};
};

&pinctrl {
	pio1_qdec_default: pio1_qdec_default {
		clk_pin {
			pinmux = <PIO1_P13>;
			input-enable;
			bias-pull-up;
		};
		dt_pin {
			pinmux = <PIO1_P14>;
			input-enable;
			bias-pull-up;
		};
	};
};

&pio1 {
	status = "okay";

	pio1_qdec: qdec0 {
		status = "okay";
		compatible = "raspberrypi,pico-qdec-pio";
		pinctrl-0 = <&pio1_qdec_default>;
		pinctrl-names = "default";
		zephyr,axis = <INPUT_REL_WHEEL>;
	};
};
