#include <zephyr/dt-bindings/dma/rpi-pico-dma-rp2350.h>
#include <zephyr/dt-bindings/pinctrl/rpi-pico-rp2350a-pinctrl.h>

/ {
	lvgl_encoder {
		compatible = "zephyr,lvgl-encoder-input";
		rotation-input-code = <INPUT_REL_WHEEL>;
		button-input-code = <INPUT_KEY_0>;
	};

	motors: motors {
		compatible = "motor-l298n";
		pwms = <&pwm 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>, // PWM_0A_P16
			   <&pwm 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>; // PWM_0B_P17
		ch-1-dir-gpios = <&gpio0 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		ch-2-dir-gpios = <&gpio0 26 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	};
};

&pinctrl {
	pio1_qdec_default: pio1_qdec_default {
		clk_pin {
			pinmux = <PIO1_P13>;
			input-enable;
			bias-pull-down;
		};
		dt_pin {
			pinmux = <PIO1_P14>;
			input-enable;
			bias-pull-down;
		};
	};
};

&pio1 {
	status = "okay";

	pio1_qdec: qdec0 {
		status = "okay";
		compatible = "raspberrypi,pico-qdec-pio";
		pinctrl-0 = <&pio1_qdec_default>;
		pinctrl-names = "default";
		btn-gpios = <&gpio0 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		zephyr,axis = <INPUT_REL_WHEEL>;
		zephyr,key = <INPUT_KEY_0>;
		dmas = <&dma 0 RPI_PICO_DMA_SLOT_PIO1_RX0 0>;
		dma-names = "qdec";
		max-update-freq = <2000>;
	};
};

&dma {
	status = "okay";
};



